<form #loginform ="ngForm">
  <label for="email">
    Email
  </label>
  <input
     required
    minlength="1"
     ngModel name="mail"
     #inputMail="ngModel"
    type="text" id="email" class="form-control">
  <div class="alert alert-danger" *ngIf="inputMail.invalid && inputMail.touched">
    Votre mail n'est pas valide
  </div>

  <label for="pwd">
    Password
  </label>
  <input

    required
    minlength="4"
    type="password"
    ngModel name="password"
    #pwdInput="ngModel"
    class="form-control" id="pwd"
  >
  <div class="alert alert-danger" *ngIf="pwdInput.invalid && pwdInput.touched">
    Le password doit avoir au minimum 4 caracteres

  </div>

  <button [disabled]="loginform.invalid" class="btn btn-primary" (click)="login()">
    Se connecter
  </button>
</form>
