
<button (click)="loadMoreProducts()" class="custom-btn">Load More Products</button><div class="custom-container mt-4">
  <div class="custom-row">
    <div class="custom-col" *ngFor="let product of products$ | async">
      <div class="custom-card mb-4 shadow-sm">
        <img [src]="product.thumbnail" alt="{{ product.title }}" class="custom-img">
        <div class="custom-card-body">
          <h3 class="custom-title">{{ product.title }}</h3>
          <h4>{{ product.brand }}</h4>
          <h5>{{ product.category | titlecase }}</h5>
          <p class="custom-description">{{ product.description }}</p>
          <p class="custom-price">Price: ${{ product.price }}</p>
          <p class="custom-discount">Discount Percentage: {{ product.discountPercentage }}</p>
          <p class="custom-rating">Rating: {{ product.rating }}</p>
        </div>
      </div>
    </div>
  </div>

</div>
