<div class="card m-2 custom-cv-card">
  <div class="card-body row">
    <div class="col-md-6 text-center">
      <img class="img-circle" src="assets/images/{{personne.path|defaultImage}}">

    </div>
    <div class="col-md-6 text-center">
      <div class="mb-3">
        <label class="fw-bold fs-4">Name:</label>
        <p class="fs-5">{{personne.name}}</p>
      </div>
      <div class="mb-3">
        <label class="fw-bold fs-4">Firstname:</label>
        <p class="fs-5">{{personne.firstname}}</p>
      </div>
      <div class="mb-3">
        <label class="fw-bold fs-4">Job:</label>
        <p class="fs-5">{{personne.job}}</p>
      </div>
      <div class="mb-3">
        <label class="fw-bold fs-4">Age:</label>
        <p class="fs-5">{{personne.age}}</p>
      </div>
      <div class="mb-3">
        <label class="fw-bold fs-4">Cin:</label>
        <p class="fs-5">{{personne.cin}}</p>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center mt-3">
      <button (click)="deletePersonne()" routerLink="" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
